.contacts
  margin 0
  padding 3.40rem 0 6.80rem 0
  @media screen and (max-width --breakpoint_sm)
    padding 3.40rem 0 7.00rem 0
  @media screen and (max-width --breakpoint_xs)
    padding 3.40rem 0 4.90rem 0
