.tooltip
  position relative
  display inline-block
  vertical-align middle
  height 100%
  font-family --font-family-primary, sans-serif
  font-size --font-size_xs
  font-weight --font-weight_xs
  line-height --line-height_lg
