.select
  overflow hidden
  padding 1.40rem 2.40rem
  border none
  outline none
  width 100%
  font-family --font-family-primary, sans-serif
  font-size --font-size_sm
  font-weight --font-weight_xs
  line-height --line-height_xl
  font-style normal
  color --form-text-color-primary
