.cases__card-paragraph_line-clamp_s
  @media screen and (max-width --breakpoint_md)
    -webkit-line-clamp 2
  @media screen and (max-width --breakpoint_sm)
    -webkit-line-clamp 3
  @media screen and (max-width --breakpoint_xs)
    -webkit-line-clamp 2
