.site-search__form
  padding 1.60rem 1.80rem 1.60rem 3.20rem
  border-radius 0
  background-color --background-color-secondary
  box-shadow none
  @media screen and (max-width --breakpoint_sm)
    bottom 0
    right 0
    padding 2.10rem --container-margins_sm
    border-radius 0
    width 100%
    height 100%
  @media screen and (max-width --breakpoint_sm)
    padding 2.10rem --container-margins_xs
