.cases__card-time
  margin 0
  padding 0
  padding-left 1.80rem
  font-family --font-family-primary, sans-serif
  font-size --font-size_xxs
  font-weight --font-weight_xs
  line-height 1.83
  font-style normal
  color #999
  background-image url('../images/raster/icons/calendar-grey.svg')
  background-repeat no-repeat
  background-size 1.40rem 1.40rem
  background-position center left
