.header__bottom
  display none
  padding 1.20rem 0
  background-color #4A4A4A
  @media screen and (max-width --breakpoint_sm)
    display block
  @media screen and (max-width --breakpoint_xs)
    padding 1.35rem 0
