.cases__cases-container
  @media screen and (max-width --breakpoint_md)
    gap 2.40rem 3.00rem
  @media screen and (max-width --breakpoint_sm)
    gap 2.75rem 3.00rem
  @media screen and (max-width --breakpoint_xs)
    gap 2.50rem 3.00rem
