.rights
  margin 0
  padding 0
  font-family --font-family-secondary, sans-serif
  font-size --font-size_xs
  font-weight --font-weight_xs
  line-height --line-height_md
  font-style normal
  color --color-light-grey
  @media screen and (max-width --breakpoint_xs)
    font-size 1.00rem
