.map
  position relative
  margin 0
  padding 0
  padding-top 0.60rem
  width 100%
  height 100%
  @media screen and (max-width --breakpoint_sm)
    padding-top 0
    height 46.20rem
  @media screen and (max-width --breakpoint_xs)
    height 47.20rem
