.tooltip__tip-text
  padding 0.70rem 1.50rem
  font-family ---font-family-primary, sans-serif
  font-size --font-size_xxs
  font-weight --font-weight_md
  line-height --line-height_md
  font-style normal
  color --color-white
  background --color-middle-grey
