.nav
  display flex
  align-items center
  width 100%
  opacity 1.00
  visibility visible
  transform none
  transition visibility --transition-time_slow ease-out, padding --transition-time_slow ease-out, width --transition-time_slow ease-out, height --transition-time_slow ease-out, opacity --transition-time_fast ease-out, transform --transition-time_slow ease-out
