.nav_hidden
  visibility hidden
  padding-right 0
  padding-left 0
  width 0
  opacity 0
  transition visibility --transition-time_slow ease-in, padding --transition-time_slow ease-in, width --transition-time_slow ease-in, height --transition-time_slow ease-in, opacity --transition-time_slow ease-in, transform --transition-time_slow ease-in
