.address__text
  margin 0
  padding 0
  font-family --font-family-primary, sans-serif
  font-size --font-size_sm
  font-weight --font-weight_xs
  line-height --line-height_xs
  font-style normal
  text-decoration none
  color --text-color-primary
