.cases__card-wrapper
  margin-bottom 1.00rem
  @media screen and (max-width --breakpoint_md)
    margin-bottom 1.70rem
  @media screen and (max-width --breakpoint_sm)
    margin-bottom 1.30rem
  @media screen and (max-width --breakpoint_xs)
    margin-bottom 1.00rem
