.company__paragraph
  margin 0
  padding 0
  font-family --font-family-primary, sans-serif
  font-size --font-size_sm
  font-weight --font-weight_xs
  line-height --line-height_xl
  font-style normal
  color #cacaca
  @media screen and (max-width --breakpoint_xs)
    font-size --font-size_xs
    line-height 2.50rem
