@import './library.blocks/root'
@import './library.blocks/fonts'

@import './common.blocks/root'
@import './common.blocks/fonts'

@import './library.blocks/html'
@import './library.blocks/body'
@import './library.blocks/container'

@import './library.blocks/helpers/d/_none'
@import './library.blocks/helpers/d/_block'
@import './library.blocks/helpers/d-xs/_none'
@import './library.blocks/helpers/d-xs/_block'
@import './library.blocks/helpers/d-sm/_none'
@import './library.blocks/helpers/d-sm/_block'
@import './library.blocks/helpers/align-items/_flex-end'
@import './library.blocks/helpers/align-items-xs/_center'

@import './library.blocks/grid'
@import './library.blocks/grid/_align-items/_center'
@import './library.blocks/grid/_columns/_2'
@import './library.blocks/grid/_columns-md/_8'
@import './library.blocks/grid/_columns-sm/_6'
@import './library.blocks/grid/_columns-xs/_2'
@import './library.blocks/grid/__item/_span/_2'
@import './library.blocks/grid/__item/_span/_3'
@import './library.blocks/grid/__item/_span/_4'
@import './library.blocks/grid/__item/_span/_6'
@import './library.blocks/grid/__item/_span/_7'
@import './library.blocks/grid/__item/_span/_8'
@import './library.blocks/grid/__item/_span-md/_1'
@import './library.blocks/grid/__item/_span-md/_2'
@import './library.blocks/grid/__item/_span-md/_3'
@import './library.blocks/grid/__item/_span-md/_4'
@import './library.blocks/grid/__item/_span-md/_5'
@import './library.blocks/grid/__item/_span-sm/_2'
@import './library.blocks/grid/__item/_span-sm/_4'
@import './library.blocks/grid/__item/_span-sm/_6'
@import './library.blocks/grid/__item/_span-xs/_1'
@import './library.blocks/grid/__item/_span-xs/_2'
@import './library.blocks/grid/__item/_reversed'
@import './library.blocks/grid/__item/_last-md'

@import './library.blocks/icon'
@import './library.blocks/icon/__img'
@import './library.blocks/icon/__path'

@import './library.blocks/link'

@import './library.blocks/button'
@import './library.blocks/button/_view/_no-background'

@import './common.blocks/button'

@import './library.blocks/logo'

@import './common.blocks/logo'

@import './library.blocks/nav'
@import './library.blocks/nav/__menu'
@import './library.blocks/nav/__item'
@import './library.blocks/nav/__link'

@import './common.blocks/nav/__item'
@import './common.blocks/nav/__link'

@import './library.blocks/textarea'
@import './library.blocks/input'
@import './library.blocks/input/_view/_invalid'
@import './library.blocks/label'
@import './library.blocks/label/_hidden'
@import './library.blocks/fieldset'
@import './library.blocks/fieldset/__input-group'
@import './library.blocks/fieldset/__input-wrapper'
@import './library.blocks/legend'
@import './library.blocks/form'
@import './library.blocks/form/__validation-message'
@import './library.blocks/form/__validation-message/_type/_error'

@import './common.blocks/textarea'
@import './common.blocks/input'

@import './library.blocks/site-search'
@import './library.blocks/site-search/__button'
@import './library.blocks/site-search/__button-icon'
@import './library.blocks/site-search/__form'
@import './library.blocks/site-search/__form-button'
@import './library.blocks/site-search/__form-close-button'
@import './library.blocks/site-search/__form-close-button-icon'
@import './library.blocks/site-search/__input'

@import './common.blocks/site-search'
@import './common.blocks/site-search/__button'
@import './common.blocks/site-search/__button-icon'
@import './common.blocks/site-search/__form'
@import './common.blocks/site-search/__form-button'
@import './common.blocks/site-search/__form-close-button'
@import './common.blocks/site-search/__form-close-button-icon'
@import './common.blocks/site-search/__form-close-button-path-circle'
@import './common.blocks/site-search/__form-close-button-path-x'
@import './common.blocks/site-search/__input'

@import './library.blocks/burger'
@import './library.blocks/burger/__button'
@import './library.blocks/burger/__button-icon'
@import './library.blocks/burger/__body'
@import './library.blocks/burger/__footer'
@import './library.blocks/burger/__nav'
@import './library.blocks/burger/__nav-menu'
@import './library.blocks/burger/__nav-item'
@import './library.blocks/burger/__nav-link'

@import './common.blocks/burger/__button'
@import './common.blocks/burger/__button-icon/_type/_ellipse-x'
@import './common.blocks/burger/__body'
@import './common.blocks/burger/__nav-item'

@import './library.blocks/address'
@import './library.blocks/address/__wrapper'

@import './common.blocks/address/__wrapper'

@import './library.blocks/yandex-map'
@import './library.blocks/yandex-map/__static-img-container'
@import './library.blocks/yandex-map/__static-img'

@import './library.blocks/rights'

@import './common.blocks/rights'

@import './library.blocks/citation'
@import './library.blocks/citation/__blockquote'
@import './library.blocks/citation/__figcaption'
@import './library.blocks/citation/__paragraph'

@import './common.blocks/header'
@import './common.blocks/header/__top'
@import './common.blocks/header/__bottom'
@import './common.blocks/header/__search-button'

@import './common.blocks/tel-link'
@import './common.blocks/tel-link/__image'
@import './common.blocks/tel-link/__path'
@import './common.blocks/tel-link/__text'

@import './common.blocks/main'

@import './common.blocks/past-works'
@import './common.blocks/past-works/__title'
@import './common.blocks/past-works/__list'
@import './common.blocks/past-works/__li'
@import './common.blocks/past-works/__li/_size/_l'
@import './common.blocks/past-works/__li/_size/_s'
@import './common.blocks/past-works/__img'

@import './common.blocks/hero'
@import './common.blocks/hero/__title'
@import './common.blocks/hero/__title/_hidden'

@import './common.blocks/masterclass-banner'
@import './common.blocks/masterclass-banner/__hashtag'
@import './common.blocks/masterclass-banner/__master'
@import './common.blocks/masterclass-banner/__title'
@import './common.blocks/masterclass-banner/__time'
@import './common.blocks/masterclass-banner/__banner-back'
@import './common.blocks/masterclass-banner/__banner-img'

@import './common.blocks/subscribe'
@import './common.blocks/subscribe/__legend'
@import './common.blocks/subscribe/__form'
@import './common.blocks/subscribe/__fieldset'
@import './common.blocks/subscribe/__input'
@import './common.blocks/subscribe/__button'

@import './common.blocks/company'
@import './common.blocks/company/__title'
@import './common.blocks/company/__paragraph'
@import './common.blocks/company/__subscribe'
@import './common.blocks/company/__background-container'
@import './common.blocks/company/__background-img'
@import './common.blocks/company/__subscribe-form'
@import './common.blocks/company/__subscribe-fieldset'

@import './common.blocks/cases'
@import './common.blocks/cases/__title'
@import './common.blocks/cases/__cases-container'
@import './common.blocks/cases/__card'
@import './common.blocks/cases/__card-hashtag'
@import './common.blocks/cases/__card-img-container'
@import './common.blocks/cases/__card-img'
@import './common.blocks/cases/__card-paragraph'
@import './common.blocks/cases/__card-paragraph/_line-clamp/_s'
@import './common.blocks/cases/__card-time'
@import './common.blocks/cases/__card-wrapper'
@import './common.blocks/cases/__banner'
@import './common.blocks/cases/__banner-hashtag'
@import './common.blocks/cases/__banner-content'
@import './common.blocks/cases/__banner-title'
@import './common.blocks/cases/__banner-paragraph'
@import './common.blocks/cases/__banner-time'
@import './common.blocks/cases/__banner-back'
@import './common.blocks/cases/__banner-img'

@import './common.blocks/request'
@import './common.blocks/request/__legend'
@import './common.blocks/request/__descr'
@import './common.blocks/request/__fieldset'
@import './common.blocks/request/__input-group'
@import './common.blocks/request/__button'

@import './common.blocks/contacts'
@import './common.blocks/contacts/__title'
@import './common.blocks/contacts/__grid'
@import './common.blocks/contacts/__request'
@import './common.blocks/contacts/__container'

@import './common.blocks/map'
@import './common.blocks/map/__popover'
@import './common.blocks/map/__popover-wrapper'
@import './common.blocks/map/__popover-close-button'
@import './common.blocks/map/__popover-close-button-image'
@import './common.blocks/map/__popover-close-button-path-circle'
@import './common.blocks/map/__popover-close-button-path-x'
@import './common.blocks/map/__popover-title'
@import './common.blocks/map/__popover-descr'
@import './common.blocks/map/__map'

@import './common.blocks/footer'
@import './common.blocks/footer/__top'
@import './common.blocks/footer/__bottom'
@import './common.blocks/footer/__logo'

@import './library.blocks/socials'
@import './library.blocks/socials/__text'
@import './library.blocks/socials/__list'
@import './library.blocks/socials/__item'
@import './library.blocks/socials/__icon-img'
@import './library.blocks/socials/__icon-path'
