.custom-checkbox
  position relative
  display inline-flex
  align-items center
  font-family --font-family-primary, sans-serif
  font-size --font-size_sm
  font-weight --font-weight_xs
  line-height --line-height_xl
  font-style normal
  color --form-text-color-primary
  cursor pointer
  user-select none
