.cases__banner-time
  margin 0
  margin-bottom 0.20rem
  padding 0
  padding-left 1.80rem
  font-family --font-family-primary, sans-serif
  font-size --font-size_xxs
  font-weight --font-weight_xs
  line-height 1.83
  font-style normal
  color --text-color-primary
  background-image url('../images/raster/icons/calendar-white.svg')
  background-repeat no-repeat
  background-size 1.40rem 1.40rem
  background-position center left
  @media screen and (max-width --breakpoint_xs)
    margin-bottom 0.70rem
