.form__validation-message
  position absolute
  z-index 500
  top 0.30rem
  left 2.30rem
  width auto
  height auto
  margin 0
  padding 0
  font-family --font-family-primary, sans-serif
  font-size 0.90rem
  font-weight --font-weight_xs
  line-height --line-height_sm
  font-style normal
  color --text-color-primary
