.masterclass-banner__time
  margin 0
  margin-bottom 1.90rem
  padding 0
  font-family --font-family-secondary, sans-serif
  font-size 3.60rem
  font-weight --font-weight_lg
  line-height --line-height_xs
  font-style normal
  color --text-color-primary
  @media screen and (max-width --breakpoint_md)
    font-size --font-size_xxl
  @media screen and (max-width --breakpoint_sm)
    margin-bottom 1.75rem
  @media screen and (max-width --breakpoint_xs)
    margin-bottom 1.75rem
    font-size --font-size_xl
