.masterclass-banner
  position relative
  display flex
  flex-direction column
  justify-content flex-end
  align-items flex-start
  margin 0
  padding 0 5.90rem 6.00rem 5.90rem
  width 100%
  min-height 63.00rem
  height 100%
  font-family --font-family-primary, sans-serif
  font-size --font-size_sm
  font-weight --font-weight_xs
  line-height --line-height_sm
  font-style normal
  color --text-color-primary
  @media screen and (max-width --breakpoint_md)
    padding 0 3.00rem 3.00rem 3.00rem
    min-height 62.30rem
  @media screen and (max-width --breakpoint_sm)
    padding 0 3.00rem 2.85rem 2.85rem
    min-height 45.20rem
  @media screen and (max-width --breakpoint_xs)
    min-height 42.20rem
