.cases__card
  position relative
  display flex
  flex-direction column
  justify-content space-between
  align-items flex-start
  margin 0
  padding 0
  width 100%
  height 100%
  font-family --font-family-primary, sans-serif
  font-size --font-size_sm
  font-weight --font-weight_xs
  line-height --line-height_lg
  font-style normal
  color --text-color-secondary
