.company
  margin 0
  padding 3.00rem 0 7.00rem 0
  background-color --background-color-secondary
  @media screen and (max-width --breakpoint_md)
    padding 3.00rem 0 9.00rem 0
  @media screen and (max-width --breakpoint_sm)
    padding 3.00rem 0 6.20rem 0
  @media screen and (max-width --breakpoint_xs)
    padding 3.20rem 0 6.00rem 0
