.past-works__li_size_s
  grid-column span 1
  max-height 25.70rem
  @media screen and (max-width --breakpoint_md)
    max-height 18.60rem
  @media screen and (max-width --breakpoint_sm)
    max-height 13.30rem
  @media screen and (max-width --breakpoint_xs)
    max-height 10.50rem
