.company__title
  margin 0
  margin-bottom 0.50rem
  padding 0
  font-family --font-family-secondary, sans-serif
  font-size --font-size_xl
  font-weight --font-weight_lg
  line-height --line-height_md
  font-style normal
  color --text-color-primary
  @media screen and (max-width --breakpoint_xs)
    font-size --font-size_md
