.request__legend
  margin 0
  margin-bottom 0.40rem
  padding 0
  font-family --font-family-secondary, sans-serif
  font-size --font-size_xl
  line-height --line-height_xs
  color --text-color-secondary
  @media screen and (max-width --breakpoint_xs)
    margin-bottom 0.70rem
    font-size --font-size_md
    line-height --line-height_sm
