.company__background-container
  flex-shrink 1
  flex-grow 1
  flex-basis 0
  margin-bottom 2.50rem
  width 100%
  min-height 25.50rem
  @media screen and (max-width --breakpoint_xs)
    flex-basis auto
    margin-top -0.90rem
    margin-bottom 2.70rem
    min-height 27.80rem
