@font-face
  font-family 'Roboto'
  font-weight 400
  font-style normal
  font-display swap
  src local('Roboto-Regular'), local('Roboto Regular'), local('roboto regular'), local('roboto-regular'),
  url('../fonts/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto-regular.woff') format('woff')

@font-face
  font-family 'Roboto'
  font-weight 700
  font-style normal
  font-display swap
  src local('Roboto-Bold'), local('Roboto Bold'), local('roboto bold'), local('roboto-bold'),
  url('../fonts/roboto-bold.woff2') format('woff2'),
  url('../fonts/roboto-bold.woff') format('woff')

@font-face
  font-family 'ttfirsneue'
  font-weight 400
  font-style normal
  font-display swap
  src local('ttfirsneue-Regular'), local('ttfirsneue Regular'), local('ttfirsneue regular'), local('ttfirsneue-regular'),
  url('../fonts/ttfirsneue-regular.woff2') format('woff2'),
  url('../fonts/ttfirsneue-regular.woff') format('woff')

@font-face
  font-family 'ttfirsneue'
  font-weight 500
  font-style normal
  font-display swap
  src local('ttfirsneue-Medium'), local('ttfirsneue Medium'), local('ttfirsneue medium'), local('ttfirsneue-medium'),
  url('../fonts/ttfirsneue-medium.woff2') format('woff2'),
  url('../fonts/ttfirsneue-medium.woff') format('woff')

@font-face
  font-family 'ttfirsneue'
  font-weight 700
  font-style normal
  font-display swap
  src local('ttfirsneue-Bold'), local('ttfirsneue Bold'), local('ttfirsneue bold'), local('ttfirsneue-bold'),
  url('../fonts/ttfirsneue-bold.woff2') format('woff2'),
  url('../fonts/ttfirsneue-bold.woff') format('woff')
