.header__top
  position relative
  padding 2.40rem 0
  background-color --background-color-secondary
  @media screen and (max-width --breakpoint_md)
    padding 2.50rem 0
  @media screen and (max-width --breakpoint_md)
    padding 2.65rem 0
  @media screen and (max-width --breakpoint_xs)
    padding 2.50rem 0
