.button_view_action
  border none
  font-weight --font-weight_lg
  background-color --background-color-primary

  &:focus-visible
    border none

  &:hover
    border none

  &:active
    border none
